/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Encabezado */
header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 2em;
}

/* Barra de navegación */
nav {
    background-color: #333;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Sección de contenido principal */
main {
    padding: 20px;
}

#historia, #historia2, #historia3, #historia4 {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.imagen-historia {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

/* Sección de contacto */
#contacto {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
}

form {
    display:flex;
    flex-direction: column;
}

label, input, textarea, button {
    margin-bottom: 10px;
}

input, textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

button {
    padding: 10px;
    color: white;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4935b8;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    font-size: 0.9em;
}
